* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body{
    min-width: 1000px;
}

.head_bg {
    width: 100%;
    height: 60px;
    background: #7F4A88;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.20);
    padding-left: 39px;
    box-sizing: border-box;
    position: relative;
}

.head_bg .head_logo img {
    height: 26px;
    width: 78px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-right: 2px solid #ffffff;
    padding-right: 18px;
}

.head_bg .head_logo span {
    margin-left: 111px;
    bottom: 0;
    line-height: 60px;
    font-size: 24px;
    color: #ffffff;
}

.head_bg #write_article img {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 96px;
    margin: auto;
}

.head_bg #write_article span {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    right: 39px;

    line-height: 60px;
}

.head_bg #to_index {
    position: absolute;
    right: 151px;
    height: 60px;
    top: 0;
}

.head_bg #to_index a {

    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 60px;
    margin-left: 25px;
}

.head_bg #user_info {
    position: absolute;
    right: 151px;
    display: none;
    height: 60px;
    top: 0;
    text-align: right;

}

.head_bg #user_info #header {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
}

.head_bg #user_info #user_name {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 8px;
    line-height: 60px;
    vertical-align: middle;
}

.head_bg #user_info #arrow {
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-left: 10.5px;
    transition: 300ms;
}

.head_bg #user_info:hover #arrow {
    transform: rotate(180deg);

}

#list {
    position: absolute;
    right: -7px;
    width: 109px;
    height: 124.7px;
    background: #FFFFFF;
    border: 1px solid #F2EEF3;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.10);
    z-index: -1;
    opacity: 0;
    top: 25px;
    text-align: center;
    text-align: center;

    transition: 1s;

}

.head_bg #user_info:hover #list {
    top: 50px;
    opacity: 1;
    z-index: 999;


}

#list :hover+#arrow {
    transform: rotate(180deg);
}


#list>ul {
    list-style: none;
}

#list>ul>li {
    width: 100%;
    height: 41.5px;
    line-height: 41.5px;
    vertical-align: middle;
    padding: 0 10px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    letter-spacing: 0;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

#list>ul>li:hover {
    color: #FFFFFF;
    background: #7F4A88;
}

#list>ul>li>img {
    vertical-align: middle;
}

#list>ul>li>span {

    vertical-align: middle;

}

.triangle {
    border: 12px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    width: 0px;
    height: 0px;
    top: -20px;
    left: 85px;
    z-index: -1;
}

.main_content {
    width: 906px;
    margin: auto;
    margin-top: 67px;
}

.main_content #title {

    height: 25px;

}

.main_content #title #article_title {
    font-size: 18px;
    color: #222629;
    letter-spacing: 0;
    line-height: 25px;
    vertical-align: middle;
}

.main_content #title #share_img {
    vertical-align: middle;
    width: 13.5px;
    height: 15px;
    margin-left: 58px;
}

.main_content #title label {
    opacity: 0.7;
    font-size: 14px;
    color: #7F4A88;
    letter-spacing: 0;
    line-height: 25px;
}

.main_content #author_info {
    height: 36px;
    display: inline-block;
}

.main_content #author_info #author_header {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align: middle;

}

.main_content #author_info #author_name {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    height: 20px;
    margin-left: 11px;
    line-height: 36px;
}

.main_content #author_info #time {
    margin-left: 20px;
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    line-height: 36px;

}

.main_content #article_data {
    display: inline-block;
    height: 36px;
    margin-left: 99px;
}

.main_content #article_data #praise {
    width: 15px;
    height: 16px;
    vertical-align: middle;
    cursor: pointer;
}

.main_content #article_data #see {
    margin-left: 36px;
    width: 19px;
    height: 17px;
    opacity: 0.7;
    vertical-align: middle;
}

.main_content #article_data label {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #7F4A88;
    letter-spacing: 0;
    margin-left: 11px;
    line-height: 36px;
    vertical-align: middle;
}

.main_content #article_img {
    width: 906px;
    height: 375px;
}

.main_content #text_box {
    width: 907px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    line-height: 24px;
    border-bottom: 1px solid #7F4A88;
    padding-bottom: 44px;
    box-sizing: border-box;
}

h6 {
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    margin-top: 31px;
}

#write_comments {
    width: 907px;
    height: 103px;
    border: none;
    background: rgba(127, 74, 136, 0.2);
    border-radius: 5px;
    resize: none;
    outline: none;
    text-indent: 15px;
}

#submit {
    background: #7F4A88;
    border-radius: 4px;
    width: 88px;
    height: 36px;
    margin-top: 22px;
    float: right;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}
#submit:hover{
    background: rgba(34, 38, 41, 0.5);
    color: #ffffff;
}
#span1 {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    display: inline-block;
    margin-top: 74px;
}

.comments {
    width: 908px;
    margin-top: 21px;
}

#arrow_down {
    text-align: center;
    margin-top: 20px;
    border: 1px solid #222629;
    opacity: .5;
    cursor: pointer;
}

#arrow_down:hover {
    background: #7F4A88;
    color: #FFFFFF;
}

.comment {
    width: 908px;
    border-top: 1px solid #7F4A88;
    padding: 20px 0 24px 0;
    box-sizing: border-box;
}

.comment .comment_head {
    height: 36px;
}

.comment .comment_head .comment_header {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align: middle;
}

.comment .comment_head .comment_name {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    line-height: 36px;
    margin-left: 11px;
}

.comment .comment_head .comment_time {
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    line-height: 36px;
    margin-left: 20px;
}

.comment .comment_head .comment_praise {
    width: 15px;
    height: 16px;
    vertical-align: middle;
    margin-left: 33px;
    cursor: pointer;
}

.comment .comment_head .comment_praise_num {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #7F4A88;
    letter-spacing: 0;
    line-height: 36px;
    margin-left: 10px;
}

.comment .comment_con {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    margin-left: 47px;
}

.footer {
    border-top: 1px solid #7F4A88;
    text-align: center;
    font-size: 13px;
    color: #222629;
    height: 60px;
    width: 100%;
}

.footer span {
    line-height: 60px;
}
#list>ul>li:hover img{
    
    filter:invert(100%)

}