* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body{
    min-width: 1000px;
}

.head_bg {
    width: 100%;
    height: 60px;
    background: #7F4A88;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.20);
    padding-left: 39px;
    box-sizing: border-box;
    position: relative;
}

.head_bg .head_logo img {
    height: 26px;
    width: 78px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-right: 2px solid #ffffff;
    padding-right: 18px;
}

.head_bg .head_logo span {
    margin-left: 111px;
    bottom: 0;
    line-height: 60px;
    font-size: 24px;
    color: #ffffff;
}

.head_bg #write_article img {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 96px;
    margin: auto;
}

.head_bg #write_article span {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    right: 39px;

    line-height: 60px;
}

.head_bg #to_index {
    position: absolute;
    right: 151px;
    height: 60px;
    top: 0;
}

.head_bg #to_index a {

    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 60px;
    margin-left: 25px;
}

.head_bg #user_info {
    position: absolute;
    right: 151px;
    display: none;
    height: 60px;
    top: 0;
    text-align: right;

}

.head_bg #user_info #header {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
}

.head_bg #user_info #user_name {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 8px;
    line-height: 60px;
    vertical-align: middle;
}

.head_bg #user_info #arrow {
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-left: 10.5px;
    transition: 300ms;
}

.head_bg #user_info:hover #arrow {
    transform: rotate(180deg);

}
#list {
    position: absolute;
    right: -7px;
    width: 109px;
    height: 124.7px;
    background: #FFFFFF;
    border: 1px solid #F2EEF3;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.10);
    z-index: -1;
    opacity: 0;
    top: 25px;
    text-align: center;
    text-align: center;

    transition: 1s;

}

.head_bg #user_info:hover #list {
    top: 50px;
    opacity: 1;
    z-index: 999;
    
    
}

#list :hover+#arrow{
    transform: rotate(180deg);
}


#list>ul {
    list-style: none;
}

#list>ul>li {
    width: 100%;
    height: 41.5px;
    line-height: 41.5px;
    vertical-align: middle;
    padding: 0 10px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    letter-spacing: 0;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}
#list>ul>li:hover{
    color: #FFFFFF;
    background: #7F4A88;
}

#list>ul>li>img {
    vertical-align: middle;
}

#list>ul>li>span {

    vertical-align: middle;

}
.triangle {
    border: 12px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    width: 0px;
    height: 0px;
    top: -20px;
    left: 85px;
    z-index: -1;
}

#loading {
    width: 100%;
    height: 85px;
    opacity: 0.4;
    text-align: center;
    line-height: 85px;
}

#loading img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#loading span {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #222629;
    letter-spacing: 0;
    line-height: 85px;
    vertical-align: middle;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.Rotation {
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
}

#content .article {
    width: 998px;
    height: 241px;
    background: #FFFFFF;
    border: 1px solid #F0E9F1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

#content .article .article_img {
    width: 396px;
    height: 241px;
}

#content .article .title {
    position: absolute;
    top: 35px;
    left: 432px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #222629;
    letter-spacing: 0;
}

#content .article p {
    width: 527px;
    height: 70px;
    position: absolute;
    left: 432px;
    top: 71px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    line-height: 24px;
}

#content .article .author {
    position: absolute;
    top: 169px;
    left: 434px;
}

#content .article .author_header {
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

#content .article .author_name {

    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    line-height: 36px;
    margin-left: 11px;
}

#content .article .time {
    line-height: 36px;
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
    margin-left: 31px;
}

#content .article .praise {
    position: absolute;
    left: 812px;
    top: 180px;
    width: 15px;
    height: 16px;
    cursor: pointer;
}

#content .article .praise_num {
    position: absolute;
    left: 836px;
    top: 178px;
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
}

#content .article .see {
    position: absolute;
    left: 888px;
    top: 182px;
    opacity: 0.6;

}

#content .article .see_num {
    position: absolute;
    left: 918px;
    top: 178px;
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222629;
    letter-spacing: 0;
}


.footer {
    border-top: 1px solid #7F4A88;
    text-align: center;
    font-size: 13px;
    color: #222629;
    height: 60px;
    width: 100%;
}

.footer span {
    line-height: 60px;
}
#list>ul>li:hover img{
    
    filter:invert(100%)

}